.fbr-bug-report {
    display: none !important;
    position: absolute !important;
    z-index: 2147483600 !important;
    /* Стили для формы  может быть здесь нужно у z-index сделать +1*/
    
    &__form {
        width: 350px !important;
        margin: 0 auto !important;
        padding: 15px !important;
        border: 1px solid #ccc !important;
        border-radius: 4px !important;
        background-color: white !important;
        font-size: 10px !important;
        line-height: 20px !important;
        color: #778aa7 !important;
        font-family: Gordita-Medium !important;
        font-weight: 500 !important;
        z-index: 2147483600 !important;
    }
    /* Стили для полей ввода и кнопок */
    &__input-label {
        display: block !important;
        margin-bottom: 5px !important;
        z-index: 2147483600 !important;
    }

    &__input-field {
        width: 100% !important;
        padding: 10px !important;
        margin-bottom: 10px !important;
        border: 1px solid #ccc !important;
        border-radius: 4px !important;
        z-index: 2147483600 !important;
    }

    &__textarea-field {
        width: 100% !important;
        height: 100px !important;
        padding: 10px !important;
        margin-bottom: 10px !important;
        border: 1px solid #ccc !important;
        border-radius: 4px !important;
        z-index: 2147483600 !important;
    }
    &__btn-wrapper {
        display: flex !important;
        column-gap: 10px !important;
        z-index: 2147483600 !important;
    }
    &__submit-button {
        width: 50% !important;
        padding: 10px !important;
        background-color: #2ea2f6 !important;
        border: none !important;
        border-radius: 4px !important;
        color: white !important;
        cursor: pointer !important;
        z-index: 2147483600 !important;
    }
    
    &__cancel-button {
        width: 50% !important;
        padding: 10px !important;
        background-color: #ccc !important;
        border: none !important;
        border-radius: 4px !important;
        color: white !important;
        cursor: pointer !important;
        z-index: 2147483600 !important;
    }
    
}



