.fbr-plugin-layout {
    position: relative !important;
    z-index: 2147483600 !important;
}

.fbr-plugin-balls {
    position: absolute !important;
    z-index: 2147483600 !important;
}

.fbr-plugin-ball {
    position: absolute !important;
    width: 38px !important;
    height: 38px !important;
    transition: transform .12s ease,opacity .12s ease !important;
    background-color: #2ea2f6 !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    z-index: 2147483600 !important;
    &__number a {
        position: absolute !important;
        width: 38px !important;
        height: 38px !important;
        text-align: center !important;
        line-height: 32px !important;
        border: 3px solid #fff!important;
        box-shadow: 0 2px 8px rgba(0,0,0,.2) !important;
        border-radius: 50% !important;
        font-size: 15px !important;
        font-family: "Poppins", sans-serif !important;
        color: #fff !important;
        background: #2ea2f6 !important;
        z-index: 2147483600 !important;
    }
    &__inner {
        display: none !important;
        z-index: 2147483600 !important;
    }
    &__summary {
        font-size: 13px !important;
    }

}

.fbr-plugin-ball__number:hover + .fbr-plugin-ball__peek .fbr-plugin-ball__inner {
    display: block !important; /* Отображение элемента при наведении на .plugin-ball__number */
    position: absolute !important;
    top: 1px !important;
    left: 0px !important;
    width: 260px !important;
    padding-left: 42px !important;
    background: #fff !important;
    box-shadow: 0 2px 8px rgba(0,0,0,.2) !important;
    border-top-right-radius: 60px !important;
    border-bottom-right-radius: 60px !important;
    border-top-left-radius: 80px !important;
    border-bottom-left-radius: 100px !important;
    overflow: hidden !important;
    transition: transform .12s ease,opacity .15s ease !important;
    pointer-events: none !important;
    transform-origin: left !important;
    font-size: 10px !important;
    z-index: 2147483599 !important;
}